@media only screen and (max-width: 600px) {
  .leaflet-container{
    width: 92vw;
    height: 130vw;
    margin: 0px auto;
}
}


.leaflet-container{
    width: 80vw;
    height: 40vw;
    margin: 0px auto;
}
div {
    font-family: 'Unbounded';
}
body{
    background-color: #FFF6BD;
    color: #86C8BC;
}
